<html>
    <h1>Login to your Account</h1>

    <form action="/users/login" method="POST">
        <label>Email<label/>
        <input type="text" name="email" />
        <div>
        <label>Password<label/>
        <input type="text" name="password" />

        <input type="submit" />
</html>